---
import { PUBLIC_EMAIL, PUBLIC_LINKEDIN, PUBLIC_GITHUB, PUBLIC_WHATSAPP } from 'astro:env/client';
import { Icon } from 'astro-icon/components'
import { getLangFromUrl, useTranslations } from '@i18n/utils';

interface Social {
  icon: string;
  action: string;
  ariaLabel: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const socials: Social[] = [
  {
    icon: 'github',
    action: PUBLIC_GITHUB,
    ariaLabel: t('social.github')
  },
  {
    icon: 'linkedin',
    action: PUBLIC_LINKEDIN,
    ariaLabel: t('social.linkedin')
  },
  {
    icon: 'email',
    action: PUBLIC_EMAIL,
    ariaLabel: t('social.email')
  },
  {
    icon: 'phone',
    action: PUBLIC_WHATSAPP,
    ariaLabel: t('social.phone')
  }
];

---

<section class="social-section">
  {socials.map((social: Social) => (
      <a href={social.action}
              class="social-icon-container"
              target="_blank" rel="noopener noreferrer"
              title={social.ariaLabel}
              aria-label={social.ariaLabel}>
          <Icon name={social.icon} title={social.icon} size="21"/>
      </a>
  ))}
</section>
<style>
    .social-section {
        width: max-content;
        height: auto;
    }
    .social-icon-container {
        display: inline-block;
        width: max-content;
        height: auto;
        padding: 0 6px;
        color: var(--gray-color);
        cursor: pointer;
    }
    .social-icon-container:first-of-type {
        padding-left: 0;
    }
    .social-icon-container:hover {
        color: var(--white-color);
        transform: scale(1.2);
    }
</style>
